$openAppHeight: 98rpx;
page{
	background: #ffffff;
}
.articleDetail {
  background-color: #ffffff;
	::v-deep .sharesAbstract {
		left: 0;
		top: calc(44px + var(--status-bar-height));
	}
	
  &-scroll {
    overflow: hidden;

    &-content {
      // padding: 0 30rpx;
      padding-top: calc(44px + 100rpx + var(--status-bar-height));
	   padding-bottom: env(safe-area-inset-bottom);
      // padding-top: calc(44px + 190rpx);

      .pageDetail {
        // border: 1rpx solid #f0f0f0;

        &-content {
          font-size: 22rpx;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #999999;
          padding: 30rpx;
          padding-bottom: 0;

          &-title {
            font-size: 40rpx;
            line-height: 56rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 600;
            color: #333333;
            // padding-top: 60rpx;
            padding-bottom: 30rpx;
          }

          &-time {
            font-size: 24rpx;
          }

          &-tip {
            font-size: 22rpx;
            line-height: 42rpx;
          }

          &-Brief {
            font-size: 26rpx;
            line-height: 39rpx;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #666666;
            padding: 50rpx 0;
            padding-bottom: 30rpx;
          }
        }
      }

      ::v-deep .fullText {
        width: 90%;
        margin: 0 auto;

        .a {
          color: #a0a0f8 !important;
        }

        .strong {
          font-weight: bold;
        }

        p {
          display: inline-block;
        }

        img,
        image {
          max-width: 100% !important;
          width: 100% !important;
          object-fit: contain;
          margin: 0 auto;
        }
      }

      .button-list {
        padding: 40rpx 0;

        &-child {
          width: 230rpx;
          height: 60rpx;
          margin: 0 auto;
          line-height: 60rpx;
          text-align: center;
          background: linear-gradient(90deg, #ff6161 0%, #ff9661 100%);
          border-radius: 45px;
          font-size: 28rpx;
          font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: #ffffff;

          .iconLock {
            width: 20rpx;
            height: 25rpx;
            vertical-align: baseline;
          }

          &-text {
            vertical-align: baseline;
            padding-left: 10rpx;
          }
        }
      }

      .specialColumn {
        margin-bottom: 20rpx;

        // padding-bottom: 160rpx;
        &-title {
          font-size: 32rpx;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #333333;
          padding: 30rpx;
          padding-top: 38rpx;

          .iconColumn,
          &-text {
            vertical-align: middle;
          }

          .iconColumn {
            width: 40rpx;
            height: 40rpx;
            margin-right: 10rpx;
          }
        }
      }
    }

    ::v-deep .findTools {
      margin-top: 0;

      .findTools-child {
        height: 230rpx;
        margin-bottom: 0;
        border-radius: 20rpx;

        &-text {
          font-size: 28rpx;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #333333;
        }
      }
    }

    ::v-deep .shares {
      margin-top: 0;
      position: relative;
      top: -20rpx;
    }
  }

  ::v-deep .u-popup {
    uni-view {
      transition-duration: inherit !important;
    }
  }

  ::v-deep .u-slide-down-enter-to {
    top: calc(44px + 100rpx + var(--status-bar-height)) !important;
    border-radius: 0 0 20rpx 20rpx;
    overflow: hidden;
  }

  ::v-deep .popup-sharesList {
    width: 690rpx;
    // height: 353rpx;
    background: #ffffff;
    border-radius: 0 0 20rpx 20rpx;
    overflow: hidden;
    margin: 0 auto;

    &-child {
      width: 690rpx;
      height: 114rpx;
      display: flex !important;
      align-items: center !important;
      justify-content: space-between !important;
      font-size: 34rpx;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #333333;
      border-bottom: 1rpx solid #f0f0f0;
      text-align: left;
      white-space: nowrap;
      position: relative;

      &-left {
        line-height: 40rpx;
        color: #333333;
        display: inline-block !important;
        text-align: left !important;
        vertical-align: middle !important;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        &-code {
          font-size: 26rpx;
          font-family: DINAlternate-Bold, DINAlternate;
          font-weight: bold;
          color: #999999;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-evenly;
        }
      }

      &-right {
        width: 500rpx;
        display: inline-block;
        text-align: right;
        vertical-align: middle;
        display: flex !important;
        align-content: center !important;
        justify-content: flex-end !important;
        white-space: nowrap;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &-addnember {
        display: inline-block;
        vertical-align: middle;
        color: #ee3f3c;
        padding-right: 108rpx;
        line-height: 72rpx;
        font-weight: bold;
        position: absolute;
        top: 50%;
        right: 160rpx;
        transform: translateY(-50%);
      }

      &-percent {
        display: inline-block;
        vertical-align: middle;
        // width: 120rpx;
        // height: 50rpx;
        width: 160rpx;
        padding: 10rpx;
        line-height: 50rpx;
        text-align: center;
        background: #ee3f3c;
        border-radius: 4rpx;
        font-weight: bold;
        color: #ffffff;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      .sharesFall {
        .popup-sharesList-child-addnember {
          color: #24b842;
        }

        .popup-sharesList-child-percent {
          background: #24b842;
        }
      }
    }

    &-child:last-child {
      border-bottom: 0;
    }
  }

  .priceConent {
    .specialColumn {
      padding-bottom: 160rpx;
    }
  }
}
.articleDetailHidden {
	.articleDetail-scroll-content {
	    padding-top:43px; 
	}
}
.articleDetail_h5{
	::v-deep .sharesAbstract {
		// top: calc(44px + #{$openAppHeight} + var(--status-bar-height)); 
	}
	::v-deep .u-navbar--fixed{
		 top: 100rpx;
	}
	.articleDetail-scroll-content {
		padding-top: calc(#{$openAppHeight} + var(--status-bar-height)); 
	}
	::v-deep .u-slide-down-enter-to {
	  top: calc(44px + 100rpx  + #{$openAppHeight}  + var(--status-bar-height)) !important;
	}
}
	
.articleDetail_h5.articleDetailHidden{
	::v-deep .toolTemplate-content-price {
		.specialColumn {
			padding-bottom: calc(160rpx  + #{$openAppHeight} );
		}
	}
	.articleDetail-scroll-content {
	    padding-top:  calc(44px  + #{$openAppHeight}); 
	}
}
.articleDetail_Nh5{
	.articleDetail-scroll-content {
	    padding-top:44px; 
	}
}
.articleDetail_Nh5.articleDetailHidden{
	.articleDetail-scroll-content {
	 	padding-top: calc(44px + #{$openAppHeight}); 
	}
}
::v-deep .toolTemplate {
	.toolTemplate-content{
		top: 0;
	}
	.toolTemplate-content-box{
		width: 100%;
	}
}
