.page {
  background-color: rgba(246, 246, 246, 1);
  position: relative;
  width: 750rpx;
  height: 100vh;
  overflow: hidden;
  .box_1 {
    background-color: rgba(255, 255, 255, 1);
    .section_1 {
      position: relative;
      margin-bottom: 141rpx;
      padding: 17rpx 0 1rpx 0;
      .text-wrapper_1 {
        width: 690rpx;
        align-self: center;
        .text_1 {
          overflow-wrap: break-word;
          color: rgba(102, 102, 102, 1);
          font-size: 28rpx;
          font-weight: NaN;
          text-align: left;
          white-space: nowrap;
          line-height: 40rpx;
        }
        .text_2 {
          overflow-wrap: break-word;
          color: rgba(102, 102, 102, 1);
          font-size: 28rpx;
          font-weight: NaN;
          text-align: left;
          white-space: nowrap;
          line-height: 40rpx;
        }
        .text_3 {
          overflow-wrap: break-word;
          color: rgba(51, 51, 51, 1);
          font-size: 28rpx;
          font-family: PingFangSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 40rpx;
        }
        .text_4 {
          overflow-wrap: break-word;
          color: rgba(102, 102, 102, 1);
          font-size: 28rpx;
          font-weight: NaN;
          text-align: left;
          white-space: nowrap;
          line-height: 40rpx;
        }
        .text_5 {
          overflow-wrap: break-word;
          color: rgba(102, 102, 102, 1);
          font-size: 28rpx;
          font-weight: NaN;
          text-align: left;
          white-space: nowrap;
          line-height: 40rpx;
        }
        .text_6 {
          overflow-wrap: break-word;
          color: rgba(102, 102, 102, 1);
          font-size: 28rpx;
          font-weight: NaN;
          text-align: left;
          white-space: nowrap;
          line-height: 40rpx;
        }
        .text_7 {
          overflow-wrap: break-word;
          color: rgba(102, 102, 102, 1);
          font-size: 28rpx;
          font-weight: NaN;
          text-align: left;
          white-space: nowrap;
          line-height: 40rpx;
        }
      }
      .box_2 {
        background-color: rgba(254, 0, 0, 1);
        border-radius: 3px;
        width: 30rpx;
        height: 6rpx;
        margin: 8rpx 462rpx 0 258rpx;
      }
      .box_3 {
        width: 690rpx;
        align-self: center;
        margin-top: 34rpx;
        .group_1 {
          width: 340rpx;
          background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngda3f6f58d017f835e75edf598c976ec79e630b8edeffffc9dd47d3dabe396fee)
            100% no-repeat;
          background-size: 100% 100%;
          padding: 22rpx 10rpx 30rpx 10rpx;
          .label_1 {
            width: 32rpx;
            height: 32rpx;
            margin: 8rpx 0 27rpx 0;
          }
          .image-text_1 {
            width: 278rpx;
            .text-group_1 {
              .text_8 {
                overflow-wrap: break-word;
                color: rgba(51, 51, 51, 1);
                font-size: 28rpx;
                letter-spacing: -1.0946086645126343px;
                font-family: PingFangSC-Medium;
                font-weight: 500;
                text-align: left;
                white-space: nowrap;
                line-height: 30rpx;
              }
              .text_9 {
                overflow-wrap: break-word;
                color: rgba(102, 102, 102, 1);
                font-size: 24rpx;
                letter-spacing: -0.23823599517345428px;
                font-weight: NaN;
                text-align: left;
                white-space: nowrap;
                line-height: 24rpx;
                margin: 13rpx 66rpx 0 0;
              }
            }
            .thumbnail_1 {
              width: 11rpx;
              height: 19rpx;
              margin: 6rpx 0 42rpx 0;
            }
          }
        }
        .group_2 {
          background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng62424068515caa523fe7f8de4e1f0aa92e1fb6eaa0f977d730a2d872132341a7)
            100% no-repeat;
          background-size: 100% 100%;
          padding: 20rpx 87rpx 30rpx 20rpx;
          .block_1 {
            width: 208rpx;
            margin-right: 25rpx;
            .image-text_2 {
              width: 177rpx;
              .label_2 {
                width: 32rpx;
                height: 32rpx;
              }
              .text-group_2 {
                overflow-wrap: break-word;
                color: rgba(51, 51, 51, 1);
                font-size: 28rpx;
                letter-spacing: -1.0946086645126343px;
                font-family: PingFangSC-Medium;
                font-weight: 500;
                text-align: left;
                white-space: nowrap;
                line-height: 30rpx;
                margin-top: 2rpx;
              }
            }
            .thumbnail_2 {
              width: 11rpx;
              height: 19rpx;
              margin: 8rpx 0 5rpx 0;
            }
          }
          .text_10 {
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 24rpx;
            letter-spacing: -0.23823599517345428px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 24rpx;
            margin: 13rpx 0 0 42rpx;
          }
        }
      }
      .box_4 {
        width: 690rpx;
        align-self: center;
        margin-top: 20rpx;
        .block_2 {
          margin-top: 13rpx;
          .text_11 {
            overflow-wrap: break-word;
            color: rgba(254, 0, 0, 1);
            font-size: 30rpx;
            letter-spacing: -0.8602949976921082px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 30rpx;
          }
          .box_5 {
            background-color: rgba(254, 0, 0, 1);
            border-radius: 3px;
            width: 40rpx;
            height: 6rpx;
            margin: 12rpx 8rpx 0 11rpx;
          }
        }
        .text_12 {
          overflow-wrap: break-word;
          color: rgba(102, 102, 102, 1);
          font-size: 30rpx;
          letter-spacing: -0.8602949976921082px;
          font-weight: NaN;
          text-align: right;
          white-space: nowrap;
          line-height: 30rpx;
          margin: 13rpx 0 0 56rpx;
        }
        .text_13 {
          overflow-wrap: break-word;
          color: rgba(102, 102, 102, 1);
          font-size: 30rpx;
          letter-spacing: -0.8602949976921082px;
          font-weight: NaN;
          text-align: right;
          white-space: nowrap;
          line-height: 30rpx;
          margin: 13rpx 0 0 56rpx;
        }
        .block_3 {
          background-color: rgba(244, 244, 244, 1);
          border-radius: 6px;
          width: 243rpx;
          margin: 0 0 5rpx 129rpx;
          padding: 5rpx 5rpx 5rpx 20rpx;
          .text_14 {
            overflow-wrap: break-word;
            color: rgba(153, 153, 153, 1);
            font-size: 24rpx;
            letter-spacing: -0.6882359981536865px;
            font-weight: NaN;
            text-align: right;
            white-space: nowrap;
            line-height: 24rpx;
            margin-top: 11rpx;
          }
          .text-wrapper_2 {
            box-shadow: -3px 5px 4px 0px rgba(0, 0, 0, 0.04);
            background-color: rgba(255, 255, 255, 1);
            border-radius: 6px;
            padding: 11rpx 10rpx 11rpx 10rpx;
            .text_15 {
              overflow-wrap: break-word;
              color: rgba(254, 0, 0, 1);
              font-size: 24rpx;
              letter-spacing: -0.6882359981536865px;
              font-weight: NaN;
              text-align: right;
              white-space: nowrap;
              line-height: 24rpx;
            }
          }
        }
      }
      .box_6 {
        width: 366rpx;
        margin: 30rpx 354rpx 0 30rpx;
        .image-text_3 {
          width: 298rpx;
          .image-wrapper_1 {
            border-radius: 50%;
            background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/f586793a7f3546cf9c03858edbcaeb61_mergeImage.png);
            border: 1px solid rgba(0, 0, 0, 0.1);
            .thumbnail_3 {
              width: 20rpx;
              height: 20rpx;
              margin: 57rpx 3rpx -1rpx 53rpx;
            }
          }
          .text-group_3 {
            margin: 7rpx 0 6rpx 0;
            .text_16 {
              overflow-wrap: break-word;
              color: rgba(51, 51, 51, 1);
              font-size: 30rpx;
              letter-spacing: 0.8397049903869629px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 30rpx;
              margin-right: 16rpx;
            }
            .text_17 {
              overflow-wrap: break-word;
              color: rgba(153, 153, 153, 1);
              font-size: 22rpx;
              letter-spacing: 0.61578369140625px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 23rpx;
              margin-top: 10rpx;
            }
          }
        }
        .text_18 {
          overflow-wrap: break-word;
          color: rgba(153, 153, 153, 1);
          font-size: 22rpx;
          letter-spacing: 0.61578369140625px;
          font-weight: NaN;
          text-align: left;
          white-space: nowrap;
          line-height: 23rpx;
          margin-top: 47rpx;
        }
      }
      .text-wrapper_3 {
        width: 668rpx;
        height: 106rpx;
        overflow-wrap: break-word;
        font-size: 0;
        letter-spacing: 0.9516656398773193px;
        font-family: DINAlternate-Bold;
        font-weight: 700;
        text-align: justify;
        line-height: 49rpx;
        margin: 25rpx 52rpx 0 30rpx;
        .text_19 {
          width: 668rpx;
          height: 106rpx;
          overflow-wrap: break-word;
          color: rgba(51, 51, 51, 1);
          font-size: 34rpx;
          font-family: DINAlternate-Bold;
          font-weight: 700;
          text-align: left;
          line-height: 49rpx;
        }
        .text_20 {
          width: 668rpx;
          height: 106rpx;
          overflow-wrap: break-word;
          color: rgba(51, 51, 51, 1);
          font-size: 34rpx;
          font-family: PingFangSC-Semibold;
          font-weight: 600;
          text-align: left;
          line-height: 49rpx;
        }
        .paragraph_1 {
          width: 668rpx;
          height: 106rpx;
          overflow-wrap: break-word;
          color: rgba(51, 51, 51, 1);
          font-size: 34rpx;
          font-family: DINAlternate-Bold;
          font-weight: 700;
          text-align: left;
          line-height: 49rpx;
        }
        .text_21 {
          height: 106rpx;
          overflow-wrap: break-word;
          color: rgba(51, 51, 51, 1);
          font-size: 34rpx;
          font-family: PingFangSC-Semibold;
          font-weight: 600;
          text-align: left;
          line-height: 57rpx;
        }
      }
      .box_7 {
        margin: 14rpx 83rpx 0 80rpx;
        .image-text_4 {
          width: 99rpx;
          margin-top: 1rpx;
          .label_3 {
            width: 32rpx;
            height: 30rpx;
          }
          .text-group_4 {
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 22rpx;
            letter-spacing: 0.61578369140625px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 23rpx;
            margin-top: 4rpx;
          }
        }
        .image-text_5 {
          width: 104rpx;
          margin: 1rpx 0 0 143rpx;
          .label_4 {
            width: 34rpx;
            height: 30rpx;
          }
          .text-group_5 {
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 22rpx;
            letter-spacing: 0.61578369140625px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 23rpx;
            margin-top: 4rpx;
          }
        }
        .image-text_6 {
          width: 114rpx;
          margin-left: 127rpx;
          .label_5 {
            width: 33rpx;
            height: 31rpx;
          }
          .text-group_6 {
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 22rpx;
            letter-spacing: 0.61578369140625px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 23rpx;
            margin-top: 5rpx;
          }
        }
      }
      .box_8 {
        background-color: rgba(246, 246, 246, 1);
        width: 750rpx;
        height: 10rpx;
        margin-top: 30rpx;
      }
      .box_9 {
        width: 273rpx;
        margin: 30rpx 447rpx 0 30rpx;
        .image-text_7 {
          width: 220rpx;
          .section_2 {
            border-radius: 50%;
            background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/9a15017af9d74d92a8dbb166dd85f0e2_mergeImage.png);
            width: 76rpx;
            height: 76rpx;
            border: 1px solid rgba(0, 0, 0, 0.1);
          }
          .text-group_7 {
            margin: 7rpx 0 6rpx 0;
            .text_22 {
              overflow-wrap: break-word;
              color: rgba(51, 51, 51, 1);
              font-size: 30rpx;
              letter-spacing: 0.8397049903869629px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 30rpx;
            }
            .text_23 {
              overflow-wrap: break-word;
              color: rgba(153, 153, 153, 1);
              font-size: 22rpx;
              letter-spacing: 0.61578369140625px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 23rpx;
              margin: 10rpx 10rpx 0 0;
            }
          }
        }
        .text_24 {
          overflow-wrap: break-word;
          color: rgba(153, 153, 153, 1);
          font-size: 22rpx;
          letter-spacing: 0.61578369140625px;
          font-weight: NaN;
          text-align: left;
          white-space: nowrap;
          line-height: 23rpx;
          margin-top: 47rpx;
        }
      }
      .text_25 {
        overflow-wrap: break-word;
        color: rgba(51, 51, 51, 1);
        font-size: 30rpx;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 34rpx;
        margin: 24rpx 330rpx 0 30rpx;
      }
      .box_10 {
        margin: 29rpx 127rpx 0 80rpx;
        .image-text_8 {
          width: 92rpx;
          margin-top: 1rpx;
          .label_6 {
            width: 32rpx;
            height: 30rpx;
          }
          .text-group_8 {
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 22rpx;
            letter-spacing: 0.61578369140625px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 23rpx;
            margin-top: 4rpx;
          }
        }
        .image-text_9 {
          width: 94rpx;
          margin: 1rpx 0 0 150rpx;
          .label_7 {
            width: 34rpx;
            height: 30rpx;
          }
          .text-group_9 {
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 22rpx;
            letter-spacing: 0.61578369140625px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 23rpx;
            margin-top: 4rpx;
          }
        }
        .label_8 {
          width: 33rpx;
          height: 31rpx;
          margin-left: 137rpx;
        }
        .text_26 {
          overflow-wrap: break-word;
          color: rgba(102, 102, 102, 1);
          font-size: 22rpx;
          letter-spacing: 0.61578369140625px;
          font-weight: NaN;
          text-align: left;
          white-space: nowrap;
          line-height: 23rpx;
          margin: 5rpx 0 0 14rpx;
        }
      }
      .box_11 {
        background-color: rgba(246, 246, 246, 1);
        width: 750rpx;
        height: 10rpx;
        margin-top: 39rpx;
      }
      .box_12 {
        width: 269rpx;
        margin: 30rpx 451rpx 0 30rpx;
        .image-text_10 {
          width: 220rpx;
          .box_13 {
            border-radius: 50%;
            background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/90708e195e894671bd55529c8a4d6db7_mergeImage.png);
            width: 76rpx;
            height: 76rpx;
            border: 1px solid rgba(0, 0, 0, 0.1);
          }
          .text-group_10 {
            margin: 7rpx 0 6rpx 0;
            .text_27 {
              overflow-wrap: break-word;
              color: rgba(51, 51, 51, 1);
              font-size: 30rpx;
              letter-spacing: 0.8397049903869629px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 30rpx;
            }
            .text_28 {
              overflow-wrap: break-word;
              color: rgba(153, 153, 153, 1);
              font-size: 22rpx;
              letter-spacing: 0.61578369140625px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 23rpx;
              margin: 10rpx 10rpx 0 0;
            }
          }
        }
        .text_29 {
          overflow-wrap: break-word;
          color: rgba(153, 153, 153, 1);
          font-size: 22rpx;
          letter-spacing: 0.61578369140625px;
          font-weight: NaN;
          text-align: left;
          white-space: nowrap;
          line-height: 23rpx;
          margin-top: 47rpx;
        }
      }
      .text_30 {
        overflow-wrap: break-word;
        color: rgba(51, 51, 51, 1);
        font-size: 30rpx;
        font-weight: NaN;
        text-align: left;
        white-space: nowrap;
        line-height: 34rpx;
        margin: 33rpx 330rpx 0 30rpx;
      }
      .box_14 {
        margin: 29rpx 127rpx 0 80rpx;
        .image-text_11 {
          width: 92rpx;
          margin-top: 1rpx;
          .label_9 {
            width: 32rpx;
            height: 30rpx;
          }
          .text-group_11 {
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 22rpx;
            letter-spacing: 0.61578369140625px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 23rpx;
            margin-top: 4rpx;
          }
        }
        .image-text_12 {
          width: 94rpx;
          margin: 1rpx 0 0 150rpx;
          .label_10 {
            width: 34rpx;
            height: 30rpx;
          }
          .text-group_12 {
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 22rpx;
            letter-spacing: 0.61578369140625px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 23rpx;
            margin-top: 4rpx;
          }
        }
        .label_11 {
          width: 33rpx;
          height: 31rpx;
          margin-left: 137rpx;
        }
        .text_31 {
          overflow-wrap: break-word;
          color: rgba(102, 102, 102, 1);
          font-size: 22rpx;
          letter-spacing: 0.61578369140625px;
          font-weight: NaN;
          text-align: left;
          white-space: nowrap;
          line-height: 23rpx;
          margin: 5rpx 0 0 14rpx;
        }
      }
      .box_15 {
        background-color: rgba(246, 246, 246, 1);
        width: 750rpx;
        height: 10rpx;
        margin-top: 30rpx;
      }
      .box_16 {
        width: 273rpx;
        margin: 30rpx 447rpx 0 30rpx;
        .image-text_13 {
          width: 220rpx;
          .box_17 {
            border-radius: 50%;
            background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/4826a09060464ffd80560e1c09d1194e_mergeImage.png);
            width: 76rpx;
            height: 76rpx;
            border: 1px solid rgba(0, 0, 0, 0.1);
          }
          .text-group_13 {
            margin: 7rpx 0 6rpx 0;
            .text_32 {
              overflow-wrap: break-word;
              color: rgba(51, 51, 51, 1);
              font-size: 30rpx;
              letter-spacing: 0.8397049903869629px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 30rpx;
            }
            .text_33 {
              overflow-wrap: break-word;
              color: rgba(153, 153, 153, 1);
              font-size: 22rpx;
              letter-spacing: 0.61578369140625px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 23rpx;
              margin: 10rpx 10rpx 0 0;
            }
          }
        }
        .text_34 {
          overflow-wrap: break-word;
          color: rgba(153, 153, 153, 1);
          font-size: 22rpx;
          letter-spacing: 0.61578369140625px;
          font-weight: NaN;
          text-align: left;
          white-space: nowrap;
          line-height: 23rpx;
          margin-top: 47rpx;
        }
      }
      .text-wrapper_4 {
        width: 690rpx;
        height: 98rpx;
        overflow-wrap: break-word;
        font-size: 0;
        font-weight: NaN;
        text-align: left;
        line-height: 49rpx;
        align-self: center;
        margin-top: 24rpx;
        .text_35 {
          width: 690rpx;
          height: 98rpx;
          overflow-wrap: break-word;
          color: rgba(64, 89, 154, 1);
          font-size: 30rpx;
          font-weight: NaN;
          text-align: left;
          line-height: 49rpx;
        }
        .text_36 {
          width: 690rpx;
          height: 98rpx;
          overflow-wrap: break-word;
          color: rgba(51, 51, 51, 1);
          font-size: 30rpx;
          font-weight: NaN;
          text-align: left;
          line-height: 49rpx;
        }
      }
      .box_18 {
        margin: 25rpx 127rpx 0 80rpx;
        .image-text_14 {
          width: 92rpx;
          margin-top: 1rpx;
          .label_12 {
            width: 32rpx;
            height: 30rpx;
          }
          .text-group_14 {
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 22rpx;
            letter-spacing: 0.61578369140625px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 23rpx;
            margin-top: 4rpx;
          }
        }
        .image-text_15 {
          width: 94rpx;
          margin: 1rpx 0 0 150rpx;
          .label_13 {
            width: 34rpx;
            height: 30rpx;
          }
          .text-group_15 {
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 22rpx;
            letter-spacing: 0.61578369140625px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 23rpx;
            margin-top: 4rpx;
          }
        }
        .label_14 {
          width: 33rpx;
          height: 31rpx;
          margin-left: 137rpx;
        }
        .text_37 {
          overflow-wrap: break-word;
          color: rgba(102, 102, 102, 1);
          font-size: 22rpx;
          letter-spacing: 0.61578369140625px;
          font-weight: NaN;
          text-align: left;
          white-space: nowrap;
          line-height: 23rpx;
          margin: 5rpx 0 0 14rpx;
        }
      }
      .box_19 {
        background-color: rgba(246, 246, 246, 1);
        width: 750rpx;
        height: 10rpx;
        margin-top: 30rpx;
      }
      .image-text_16 {
        width: 278rpx;
        margin: 30rpx 442rpx 0 30rpx;
        .group_3 {
          border-radius: 50%;
          background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/5b3115a5e8e540a49b5ea01ea59797eb_mergeImage.png);
          width: 76rpx;
          height: 76rpx;
          border: 1px solid rgba(0, 0, 0, 0.1);
        }
        .text-group_16 {
          margin: 7rpx 0 6rpx 0;
          .text_38 {
            overflow-wrap: break-word;
            color: rgba(51, 51, 51, 1);
            font-size: 30rpx;
            letter-spacing: 0.8397049903869629px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 30rpx;
            margin-right: 8rpx;
          }
          .text-wrapper_5 {
            width: 182rpx;
            margin-top: 10rpx;
            .text_39 {
              overflow-wrap: break-word;
              color: rgba(153, 153, 153, 1);
              font-size: 22rpx;
              letter-spacing: 0.61578369140625px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 23rpx;
            }
            .text_40 {
              overflow-wrap: break-word;
              color: rgba(153, 153, 153, 1);
              font-size: 22rpx;
              letter-spacing: 0.61578369140625px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 23rpx;
            }
          }
        }
      }
      .text-wrapper_6 {
        width: 690rpx;
        height: 135rpx;
        overflow-wrap: break-word;
        font-size: 0;
        font-weight: NaN;
        text-align: justify;
        line-height: 45rpx;
        align-self: center;
        margin-top: 26rpx;
        .text_41 {
          width: 690rpx;
          height: 135rpx;
          overflow-wrap: break-word;
          color: rgba(64, 89, 154, 1);
          font-size: 30rpx;
          font-weight: NaN;
          text-align: left;
          line-height: 45rpx;
        }
        .text_42 {
          width: 690rpx;
          height: 135rpx;
          overflow-wrap: break-word;
          color: rgba(51, 51, 51, 1);
          font-size: 30rpx;
          font-weight: NaN;
          text-align: left;
          line-height: 45rpx;
        }
      }
      .box_20 {
        margin: 40rpx 126rpx 0 80rpx;
        .label_15 {
          width: 32rpx;
          height: 30rpx;
          margin-top: 1rpx;
        }
        .text_43 {
          overflow-wrap: break-word;
          color: rgba(102, 102, 102, 1);
          font-size: 23rpx;
          letter-spacing: 0.6437738537788391px;
          font-weight: NaN;
          text-align: left;
          white-space: nowrap;
          line-height: 23rpx;
          margin: 4rpx 0 0 14rpx;
        }
        .image-text_17 {
          width: 96rpx;
          margin: 1rpx 0 0 186rpx;
          .label_16 {
            width: 34rpx;
            height: 30rpx;
          }
          .text-group_17 {
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 23rpx;
            letter-spacing: 0.6437738537788391px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 23rpx;
            margin-top: 3rpx;
          }
        }
        .label_17 {
          width: 33rpx;
          height: 31rpx;
          margin-left: 135rpx;
        }
        .text_44 {
          overflow-wrap: break-word;
          color: rgba(102, 102, 102, 1);
          font-size: 23rpx;
          letter-spacing: 0.6437738537788391px;
          font-weight: NaN;
          text-align: left;
          white-space: nowrap;
          line-height: 23rpx;
          margin: 4rpx 0 0 14rpx;
        }
      }
      .box_21 {
        background-color: rgba(246, 246, 246, 1);
        width: 750rpx;
        height: 10rpx;
        margin-top: 30rpx;
      }
      .image-text_18 {
        width: 100rpx;
        margin: 20rpx 620rpx 0 30rpx;
        .label_18 {
          width: 26rpx;
          height: 29rpx;
        }
        .text-group_18 {
          overflow-wrap: break-word;
          color: rgba(153, 153, 153, 1);
          font-size: 26rpx;
          letter-spacing: 0.7277443408966064px;
          font-weight: NaN;
          text-align: justify;
          white-space: nowrap;
          line-height: 26rpx;
          margin-top: 1rpx;
        }
      }
      .box_22 {
        background-color: rgba(245, 245, 245, 1);
        width: 750rpx;
        height: 1rpx;
        margin-top: 20rpx;
      }
      .image-text_19 {
        width: 513rpx;
        margin: 20rpx 207rpx 0 30rpx;
        .image-wrapper_2 {
          border-radius: 50%;
          background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/6d0ba71a391b4d31b6170888dc820e71_mergeImage.png);
          border: 1px solid rgba(0, 0, 0, 0.1);
          .thumbnail_4 {
            width: 20rpx;
            height: 20rpx;
            margin: 57rpx 3rpx -1rpx 53rpx;
          }
        }
        .text-group_19 {
          margin: 7rpx 0 5rpx 0;
          .text_45 {
            overflow-wrap: break-word;
            color: rgba(51, 51, 51, 1);
            font-size: 30rpx;
            letter-spacing: 0.8397049903869629px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 30rpx;
            margin-right: 170rpx;
          }
          .text-wrapper_7 {
            margin-top: 10rpx;
            .text_46 {
              overflow-wrap: break-word;
              color: rgba(153, 153, 153, 1);
              font-size: 22rpx;
              letter-spacing: 0.61578369140625px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 23rpx;
              margin-top: 1rpx;
            }
            .text_47 {
              overflow-wrap: break-word;
              color: rgba(153, 153, 153, 1);
              font-size: 23rpx;
              letter-spacing: 0.6437738537788391px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 23rpx;
              margin-left: 10rpx;
            }
            .text_48 {
              overflow-wrap: break-word;
              color: rgba(153, 153, 153, 1);
              font-size: 23rpx;
              letter-spacing: 0.6437738537788391px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 23rpx;
              margin-left: 5rpx;
            }
            .text_49 {
              overflow-wrap: break-word;
              color: rgba(153, 153, 153, 1);
              font-size: 22rpx;
              letter-spacing: 0.61578369140625px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 23rpx;
              margin: 1rpx 0 0 5rpx;
            }
          }
        }
      }
      .text-wrapper_8 {
        width: 692rpx;
        height: 98rpx;
        overflow-wrap: break-word;
        font-size: 0;
        letter-spacing: 0.9516656398773193px;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        text-align: left;
        line-height: 49rpx;
        margin: 25rpx 28rpx 0 30rpx;
        .text_50 {
          width: 692rpx;
          height: 98rpx;
          overflow-wrap: break-word;
          color: rgba(31, 31, 31, 1);
          font-size: 34rpx;
          font-family: PingFangSC-Medium;
          font-weight: 500;
          text-align: left;
          line-height: 49rpx;
        }
        .paragraph_2 {
          width: 692rpx;
          height: 98rpx;
          overflow-wrap: break-word;
          color: rgba(51, 51, 51, 1);
          font-size: 34rpx;
          font-family: PingFangSC-Medium;
          font-weight: 500;
          text-align: left;
          line-height: 49rpx;
        }
      }
      .text-wrapper_9 {
        width: 690rpx;
        align-self: center;
        margin-top: 12rpx;
        .text_51 {
          width: 690rpx;
          height: 135rpx;
          overflow-wrap: break-word;
          color: rgba(51, 51, 51, 1);
          font-size: 30rpx;
          font-weight: NaN;
          text-align: justify;
          line-height: 45rpx;
        }
        .text_52 {
          overflow-wrap: break-word;
          color: rgba(64, 89, 154, 1);
          font-size: 34rpx;
          letter-spacing: 0.9516656398773193px;
          font-weight: NaN;
          text-align: justify;
          white-space: nowrap;
          line-height: 34rpx;
          margin: 107rpx 0 0 -70rpx;
        }
      }
      .box_23 {
        background-color: rgba(246, 246, 246, 1);
        border-radius: 20px;
        margin: 24rpx 398rpx 0 30rpx;
        padding: 1rpx 11rpx 1rpx 12rpx;
        .image-text_20 {
          width: 299rpx;
          .label_19 {
            width: 40rpx;
            height: 39rpx;
          }
          .text-group_20 {
            overflow-wrap: break-word;
            color: rgba(64, 89, 154, 1);
            font-size: 22rpx;
            letter-spacing: 1.769116997718811px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 22rpx;
            margin-top: 9rpx;
          }
        }
      }
      .box_24 {
        margin: 30rpx 83rpx 0 80rpx;
        .image-text_21 {
          width: 99rpx;
          margin-bottom: 1rpx;
          .label_20 {
            width: 32rpx;
            height: 30rpx;
          }
          .text-group_21 {
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 22rpx;
            letter-spacing: 0.61578369140625px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 23rpx;
            margin-top: 4rpx;
          }
        }
        .image-text_22 {
          width: 104rpx;
          margin: 0 0 1rpx 143rpx;
          .label_21 {
            width: 34rpx;
            height: 30rpx;
          }
          .text-group_22 {
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 22rpx;
            letter-spacing: 0.61578369140625px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 23rpx;
            margin-top: 4rpx;
          }
        }
        .image-text_23 {
          width: 114rpx;
          margin-left: 127rpx;
          .label_22 {
            width: 33rpx;
            height: 31rpx;
          }
          .text-group_23 {
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 22rpx;
            letter-spacing: 0.61578369140625px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 23rpx;
            margin-top: 5rpx;
          }
        }
      }
      .box_25 {
        background-color: rgba(247, 248, 250, 1);
        width: 690rpx;
        align-self: center;
        margin-top: 30rpx;
        padding: 13rpx 27rpx 15rpx 16rpx;
        .text-wrapper_10 {
          width: 643rpx;
          height: 78rpx;
          overflow-wrap: break-word;
          font-size: 0;
          letter-spacing: 1.6063159704208374px;
          font-weight: NaN;
          text-align: justify;
          line-height: 39rpx;
          margin-left: 4rpx;
          .text_53 {
            width: 643rpx;
            height: 78rpx;
            overflow-wrap: break-word;
            color: rgba(64, 89, 154, 1);
            font-size: 26rpx;
            font-weight: NaN;
            text-align: left;
            line-height: 39rpx;
          }
          .paragraph_3 {
            width: 643rpx;
            height: 78rpx;
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 26rpx;
            font-weight: NaN;
            text-align: left;
            line-height: 39rpx;
          }
        }
        .text-wrapper_11 {
          width: 323rpx;
          height: 38rpx;
          overflow-wrap: break-word;
          font-size: 0;
          letter-spacing: 1.6063159704208374px;
          font-weight: NaN;
          text-align: justify;
          white-space: nowrap;
          line-height: 38rpx;
          margin: 7rpx 322rpx 0 2rpx;
          .text_54 {
            overflow-wrap: break-word;
            color: rgba(64, 89, 154, 1);
            font-size: 26rpx;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 38rpx;
          }
          .text_55 {
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 26rpx;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 38rpx;
          }
        }
        .text_56 {
          overflow-wrap: break-word;
          color: rgba(64, 89, 154, 1);
          font-size: 26rpx;
          letter-spacing: 1.6063159704208374px;
          font-weight: NaN;
          text-align: justify;
          white-space: nowrap;
          line-height: 37rpx;
          margin: 7rpx 402rpx 0 0;
        }
      }
      .box_26 {
        background-color: rgba(245, 245, 245, 1);
        width: 750rpx;
        height: 1rpx;
        margin-top: 20rpx;
      }
      .image-text_24 {
        width: 178rpx;
        align-self: center;
        margin-top: 20rpx;
        .text-group_24 {
          overflow-wrap: break-word;
          color: rgba(153, 153, 153, 1);
          font-size: 26rpx;
          letter-spacing: -0.5722556710243225px;
          font-weight: NaN;
          text-align: right;
          white-space: nowrap;
          line-height: 30rpx;
        }
        .thumbnail_5 {
          width: 11rpx;
          height: 19rpx;
          margin: 5rpx 0 6rpx 0;
        }
      }
      .box_27 {
        background-color: rgba(246, 246, 246, 1);
        width: 750rpx;
        height: 10rpx;
        margin-top: 20rpx;
      }
      .image-text_25 {
        width: 395rpx;
        margin: 34rpx 325rpx 0 30rpx;
        .box_28 {
          border-radius: 50%;
          background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/7b8f077391ec4c72ba65ccaa2e3784ba_mergeImage.png);
          width: 76rpx;
          height: 76rpx;
          border: 1px solid rgba(0, 0, 0, 0.1);
        }
        .text-group_25 {
          margin: 7rpx 0 6rpx 0;
          .text_57 {
            overflow-wrap: break-word;
            color: rgba(51, 51, 51, 1);
            font-size: 30rpx;
            letter-spacing: 0.8397049903869629px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 30rpx;
          }
          .text-wrapper_12 {
            width: 175rpx;
            margin: 10rpx 124rpx 0 0;
            .text_58 {
              overflow-wrap: break-word;
              color: rgba(153, 153, 153, 1);
              font-size: 23rpx;
              letter-spacing: 0.6437738537788391px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 23rpx;
            }
            .text_59 {
              overflow-wrap: break-word;
              color: rgba(153, 153, 153, 1);
              font-size: 23rpx;
              letter-spacing: 0.6437738537788391px;
              font-weight: NaN;
              text-align: left;
              white-space: nowrap;
              line-height: 23rpx;
            }
          }
        }
      }
      .text-group_26 {
        margin: 32rpx 209rpx 0 30rpx;
        .text_60 {
          overflow-wrap: break-word;
          color: rgba(51, 51, 51, 1);
          font-size: 34rpx;
          letter-spacing: 0.9516656398773193px;
          font-family: PingFangSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 34rpx;
        }
        .text_61 {
          overflow-wrap: break-word;
          color: rgba(51, 51, 51, 1);
          font-size: 30rpx;
          letter-spacing: 0.8397049903869629px;
          font-weight: NaN;
          text-align: left;
          white-space: nowrap;
          line-height: 34rpx;
          margin: 10rpx 171rpx 0 0;
        }
      }
      .box_29 {
        margin: 30rpx 126rpx 0 80rpx;
        .image-text_26 {
          width: 94rpx;
          margin-top: 1rpx;
          .label_23 {
            width: 32rpx;
            height: 30rpx;
          }
          .text-group_27 {
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 23rpx;
            letter-spacing: 0.6437738537788391px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 23rpx;
            margin-top: 3rpx;
          }
        }
        .image-text_27 {
          width: 96rpx;
          margin: 1rpx 0 0 148rpx;
          .label_24 {
            width: 34rpx;
            height: 30rpx;
          }
          .text-group_28 {
            overflow-wrap: break-word;
            color: rgba(102, 102, 102, 1);
            font-size: 23rpx;
            letter-spacing: 0.6437738537788391px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 23rpx;
            margin-top: 3rpx;
          }
        }
        .label_25 {
          width: 33rpx;
          height: 31rpx;
          margin-left: 135rpx;
        }
        .text_62 {
          overflow-wrap: break-word;
          color: rgba(102, 102, 102, 1);
          font-size: 23rpx;
          letter-spacing: 0.6437738537788391px;
          font-weight: NaN;
          text-align: left;
          white-space: nowrap;
          line-height: 23rpx;
          margin: 4rpx 0 0 14rpx;
        }
      }
      .box_30 {
        background-color: rgba(255, 255, 255, 1);
        width: 750rpx;
        margin-top: 13rpx;
        padding: 0 30rpx 0 30rpx;
        .text-wrapper_13 {
          background-color: rgba(239, 239, 239, 1);
          border-radius: 6px;
          padding: 18rpx 408rpx 17rpx 20rpx;
          .text_63 {
            overflow-wrap: break-word;
            color: rgba(153, 153, 153, 1);
            font-size: 26rpx;
            letter-spacing: 1.3277440071105957px;
            font-weight: NaN;
            text-align: left;
            white-space: nowrap;
            line-height: 26rpx;
          }
        }
        .label_26 {
          width: 40rpx;
          height: 40rpx;
          margin: 11rpx 0 10rpx 0;
        }
      }
      .text-wrapper_14 {
        background-color: rgba(237, 242, 255, 1);
        border-radius: 3px;
        height: 34rpx;
        width: 66rpx;
        position: absolute;
        left: 30rpx;
        top: 2072rpx;
        padding: 5rpx 9rpx 5rpx 10rpx;
        .text_64 {
          overflow-wrap: break-word;
          color: rgba(64, 89, 154, 1);
          font-size: 24rpx;
          letter-spacing: -0.6882359981536865px;
          font-weight: NaN;
          text-align: right;
          white-space: nowrap;
          line-height: 24rpx;
        }
      }
      .text-wrapper_15 {
        background-color: rgba(255, 242, 242, 1);
        border-radius: 3px;
        height: 40rpx;
        width: 66rpx;
        position: absolute;
        left: 30rpx;
        top: 440rpx;
        padding: 8rpx 9rpx 8rpx 10rpx;
        .text_65 {
          overflow-wrap: break-word;
          color: rgba(254, 0, 0, 1);
          font-size: 24rpx;
          letter-spacing: -0.6882359981536865px;
          font-weight: NaN;
          text-align: right;
          white-space: nowrap;
          line-height: 24rpx;
        }
      }
    }
    .section_3 {
      background-color: rgba(25, 25, 25, 1);
      margin: 3124rpx 0 0 -750rpx;
      padding: 10rpx 58rpx 65rpx 4rpx;
      .block_4 {
        position: relative;
        .thumbnail_6 {
          width: 17rpx;
          height: 9rpx;
          margin: 0 55rpx 0 51rpx;
        }
        .text-wrapper_16 {
          width: 123rpx;
          margin-top: 30rpx;
          .text_66 {
            overflow-wrap: break-word;
            color: rgba(204, 204, 204, 1);
            font-size: 16rpx;
            font-weight: NaN;
            text-align: justify;
            white-space: nowrap;
            line-height: 22rpx;
            margin-top: 6rpx;
          }
          .text_67 {
            overflow-wrap: break-word;
            color: rgba(39, 168, 39, 1);
            font-size: 24rpx;
            font-family: DINAlternate-Bold;
            font-weight: 700;
            text-align: left;
            white-space: nowrap;
            line-height: 28rpx;
          }
        }
        .text_68 {
          position: absolute;
          left: 20rpx;
          top: 11rpx;
          overflow-wrap: break-word;
          color: rgba(39, 168, 39, 1);
          font-size: 26rpx;
          font-family: DINAlternate-Bold;
          font-weight: 700;
          text-align: left;
          white-space: nowrap;
          line-height: 30rpx;
        }
      }
      .image-text_28 {
        margin: 2rpx 0 3rpx 64rpx;
        .label_27 {
          width: 28rpx;
          height: 30rpx;
          align-self: center;
        }
        .text-group_29 {
          overflow-wrap: break-word;
          color: rgba(204, 204, 204, 1);
          font-size: 18rpx;
          font-weight: NaN;
          text-align: justify;
          white-space: nowrap;
          line-height: 25rpx;
          margin-top: 7rpx;
        }
      }
      .image-text_29 {
        margin: 3rpx 0 3rpx 122rpx;
        .label_28 {
          width: 32rpx;
          height: 31rpx;
          align-self: center;
        }
        .text-group_30 {
          overflow-wrap: break-word;
          color: rgba(204, 204, 204, 1);
          font-size: 18rpx;
          font-weight: NaN;
          text-align: justify;
          white-space: nowrap;
          line-height: 25rpx;
          margin-top: 5rpx;
        }
      }
      .image-text_30 {
        margin: 2rpx 0 3rpx 106rpx;
        .label_29 {
          width: 34rpx;
          height: 30rpx;
          align-self: center;
        }
        .text-group_31 {
          overflow-wrap: break-word;
          color: rgba(204, 204, 204, 1);
          font-size: 18rpx;
          font-weight: NaN;
          text-align: justify;
          white-space: nowrap;
          line-height: 25rpx;
          margin-top: 7rpx;
        }
      }
      .image-text_31 {
        margin: 2rpx 0 3rpx 111rpx;
        .label_30 {
          width: 32rpx;
          height: 32rpx;
          align-self: center;
        }
        .text-group_32 {
          overflow-wrap: break-word;
          color: rgba(204, 204, 204, 1);
          font-size: 18rpx;
          font-weight: NaN;
          text-align: justify;
          white-space: nowrap;
          line-height: 25rpx;
          margin-top: 5rpx;
        }
      }
    }
  }
}
