@import "../../styles/_variables";

.banner {
  height: 362upx;
  background-color: #fff;
  position: relative;
}

.banner-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 90upx;
  width: 100%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  z-index: 2;
}

.bar {
  float: left;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.bl {
  width: 15%;
  text-align: center;
  line-height: 90upx;
  color: #fff;
  .icon-saoma {
    font-size: 44upx;
  }
}

.bc {
  width: 70%;
  text-align: center;
}

.br {
  width: 15%;
  text-align: center;
  line-height: 90upx;
  color: #fff;
  position: relative;
  contact-button {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .icon-more {
    font-size: 44upx;
  }
}

.search-box {
  width: 100%;
  height: 60upx;
  background-color: #fff;
  border-radius: 60upx;
  display: inline-block;
  margin-top: 15upx;
  text-align: left;
  font-size: 28upx;
  line-height: 60upx;
  color: #888;
  label {
    line-height: 50upx;
    padding: 0 10upx 0 20upx;
  }
  .iconfont {
    font-size: 40upx;
  }
}

.banner swiper, .slide-image {
  width: 100%;
  height: 100%;
}

.ct-list {
  background-color: #fff;
  .g-grids {
    padding: 10upx 0;
    &::after, &::before {
      content: "";
      border: none;
    }
  }
  .g-grid {
    width: 20%;
    padding: 15upx;
    &::after, &::before {
      content: "";
      border: none;
    }
  }
  .g-grid-label {
    font-size: 24upx;
    line-height: 40upx;
    color: #333;
  }
  .g-grid-icon {
    width: 68upx;
    height: 68upx;
  }
}

.ad-p-list {
  background-color: #fff;
  position: relative;
  margin: 20upx 0;
  &::after {
    content: " ";
    position: absolute;
    left: 0;
    top: -1upx;
    right: 0;
    height: 1upx;
    border-bottom: 1upx solid #e5e5e7;
    color: #CCCCCC;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 3;
  }
}

.ad-p-item {
  width: 50%;
  height: 600upx;
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  &:nth-child(2n-1):before {
    content: " ";
    position: absolute;
    top: 1repx;
    right: 0;
    height: 100%;
    width: 1upx;
    border-right: 1upx solid #e5e5e7;
    color: #CCCCCC;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    z-index: 3;
  }
  &::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1upx;
    border-bottom: 1upx solid #e5e5e7;
    color: #CCCCCC;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 3;
  }
  image {
    width: 375upx;
    height: 375upx;
  }
}

.ad-p-info {
  padding: 15upx;
  box-sizing: border-box;
  .ad-p-price {
    font-size: 32upx;
    color: $default-skin-bg;
  }
}

.m-ShopProfile .m-cell-bd {
  font-size: 28upx;
}

.ad-p-name {
  font-size: 24upx;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  box-sizing: border-box;
  padding: 15upx;
  line-height: 40upx;
  color: #333;
}

.u-btn-default {
  width: 160upx;
  height: 50upx;
  font-size: 24upx;
  line-height: 50upx;
  float: right;
  margin: 0;
}
